.zoom-shortcode {
  margin: 30px 0;
}
.zoom-recording-shortcode {
  background: #F5F5F5;
}

.zoompress-alert {
	font-size: 16px;
    padding: .5rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}

.zoompress-alert > ul {
	margin: 0;
}

.zoompress-alert--info {
	color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.zoompress-alert--success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.zoompress-alert--error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.zoompress-form-field:not(:last-child) {
	margin-bottom: 20px;
}

.zoompress-form-label {
	display: block;
	margin-bottom: 10px;
}

.zoompress-input-field {
	width: 100%;
}

.zoompress-field-field--radio label:not(.zoompress-input-field),
.zoompress-field-field--multiple label:not(.zoompress-input-field) {
	margin-right: 10px;
}

.zoompress-input-field--error {
	border: 1px solid rgb(239, 94, 109) !important;
}

.zoompress-register-submit {
	margin-top: 30px
}

.zoompress-registration-form--processing {
	position: relative;
}

.zoompress-form-spinner {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, .7);
}

.zoompress-form-spinner > img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.zoompress-registration-form--processing .zoompress-form-spinner {
	display: block;
}
